<html>
<body>
<form>
    <th:block th:fragment="inputtext (label, name)">
        <div th:with="valid=${!#fields.hasErrors(name)}"
             th:class="${'form-group' + (valid ? '' : ' has-error')}">
            <label th:text="${label}">Label</label>
            <div>
                <textarea type="text" rows="3" cols="22"
                       th:field="*{__${name}__}" />
                <span th:if="${valid}"
                      aria-hidden="true"></span>
                <th:block th:if="${!valid}">
            <span
                    aria-hidden="true"></span>
                    <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                </th:block>
            </div>
        </div>
    </th:block>
</form>
</body>
</html>
