<!doctype html>
<html th:fragment="layoutb (template, menu)">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favico/fav.png}">

    <title th:text="#{title.msg}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.min.css}"/>

    <!-- jQuery UI CSS -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/js/jquery-ui-themes-1.12.1/jquery-ui-themes-1.12.1/themes/flick/jquery-ui.css}"/>

</head>

<body>

<nav role="navigation">
    <div class="container">

        <div id="main-navbar">
            <table >

                <tr style="z-index: 30; position: relative;">
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/','home','home page','home','Home')">
                            <span aria-hidden="true"></span>
                            <span>Home</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/books/find','books','find books','search','Find books')">
                            <span aria-hidden="true"></span>
                            <span>Find books</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/books/','books','list of books','list','List of books')">
                            <span aria-hidden="true"></span>
                            <span>List of books</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/books/new/','books','create book','new','Create book')">
                            <span aria-hidden="true"></span>
                            <span>Create book</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/librarian.html','librarian','assistant','task','i-Librarian')">
                            <span aria-hidden="true"></span>
                            <span>i-Librarian</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/task.html','task','read original task','task','Read task')">
                            <span aria-hidden="true"></span>
                            <span>Read task</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/comment.html','comment','leave comment','comment','Leave comment')">
                            <span aria-hidden="true"></span>
                            <span>Leave comment</span>
                        </button>
                    </td>
                    <td>
                        <button th:replace="fragments/menuItem ::menuItem ('/about.html','about','about','about','About')">
                            <span aria-hidden="true"></span>
                            <span>About</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">

        <div th:replace="${template}"/>

        <br/>
        <br/>
        <div id="foo" class="container">
            <div class="row"> <!--style="visibility: hidden"-->
                <div id="cross" title="hide footer"><img id="cr" th:src="@{/resources/images/cross/redcross.png}"/></div>

                <div>     <!--class="dialog_window"  id="dialog_window_2"-->
                    <a th:href="@{/about.html}">
                    <img id="footer"
                         src="../static/resources/images/footer.jpg" th:src="@{/resources/images/foot/footer.jpg}"
                         alt="developed & desighned by JavaEEPRO in the name of Lord Jesus Christ"
                         title="about" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--first jQuery, then jQuery UI! -->
<script th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/resources/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js}"></script>

<script th:src="@{/resources/js/script.js}"></script>

<script th:src="@{/resources/js/slider/jquery.slides.min.js}"></script>

</body>
</html>